@model IEnumerable<TaskListItem>

@{
    ViewData["Title"] = "Index";
}

<h2>Task List</h2>

<div class="list-group">
    @foreach (var item in Model)
    {
        <div class="list-group-item@(item.Executed ? " task-completed":"")">
            @item.Task
            <a asp-action="Delete" asp-route-id="@item.Id"><span class="glyphicon glyphicon-remove" title="delete">&nbsp;</span></a>
            @if (!item.Executed)
            {
                <a asp-action="Complete" asp-route-id="@item.Id"><span class="glyphicon glyphicon-ok" title="complete" asp-action="Complete">&nbsp;</span></a>
            }
        </div>
    }
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('div.list-group-item a').on('click', function () { return confirm("Sure?") });
        })
    </script>
}
